* {
    --negro: #000000;
    --azulOscuro: #0B2447;
    --azul: #19376D;
    --azulClaro: #576CBC;
    --celeste: #A5D7E8;
    --blanco: #ffffff;
    font-family: 'Lato', sans-serif;
}

/*Acerca de Nosotros*/
.circleBorder{
    border-radius: 100%;
}

.avatar{
    width: 20%;
}

.fs-0 {
    font-size: calc(2rem + 1.5vw);
}