/*Configuracion General*/
* {
    --negro: #000000;
    --azulOscuro: #0B2447;
    --azul: #19376D;
    --azulClaro: #576CBC;
    --celeste: #A5D7E8;
    --blanco: #ffffff;
    font-family: 'Lato', sans-serif;
}

/*Página error404*/
.bg-error404{
    /*background-color: var(--azulOscuro);*/
    background-image: url(../123382.jpg);
    background-size: cover;
    background-position: top;
}
.bg-error404 main{
    height: 100vh;
}

.fs-0 {
    font-size: calc(2rem + 1.5vw);
}

.errorBotonTamaño{
    width: 100%;
}

/*Responsive*/
@media all and (min-width: 768px) {
    .errorBotonTamaño{
        width: 50%;
    }
}
@media all and (min-width: 992px) {
    .errorBotonTamaño{
        width: 25%;
    }
}